params {
    sample_sheet_csv = null

    simpleaf_index {
        // This section takes one of three forms:
        // 1. A reference set including a fasta file and a gtf file to build an extended transcriptome index
        // 2. A reference sequence fasta file to build an index directly
        // 3. A pre-built index directory
        extended_transcriptome {
            ref_type = null // "spliced+unspliced" or "spliced+intronic" 
            fasta = null
            gtf = null
        } 
        ref_seq = null
        existing_index_dir = null
    }
}