params {
    // The sample sheet
    sample_sheet_tsv = "/mnt/scratch4/dongze/simpleaf_workflow_patch/data/sample_sheet.tsv"

    // The reference barcode csv files
    hto_reference_barcode_csv_gz = "/mnt/scratch4/dongze/simpleaf_workflow_patch/data/GSE128639_MNC_HTO_Barcodes.csv.gz"
    adt_reference_barcode_csv_gz = "/mnt/scratch4/dongze/simpleaf_workflow_patch/data/GSE128639_MNC_ADT_Barcodes.csv.gz"

    // The output directory
    output_dir = "${projectDir}/workflow_output"

    // The number of threads to use
    num_threads = 16

    // "10xv2" or "10xv3"
    chemistry = "10xv2"

    // whether to use the piscem instead of salmon as the mapper 
    use_piscem = false

    // The parameters for building the index for mapping RNA-seq reads
    rna_simpleaf_index {
        // This section takes one of three forms:
        // 1. A reference set including a fasta file and a gtf file to build an extended transcriptome index
        extended_transcriptome {
            ref_type = "spliced+intronic" // "spliced+unspliced" or "spliced+intronic" 
            fasta = "/mnt/scratch3/alevin_fry_submission/refs/refdata-gex-GRCh38-2020-A/fasta/genome.fa"
            gtf = "/mnt/scratch3/alevin_fry_submission/refs/refdata-gex-GRCh38-2020-A/genes/genes.gtf"
            rlen = 91
            dedup = false
            spliced = null
            unspliced = null
        }
        // 2. A reference sequence fasta file to build an index directly
        ref_seq = null
        // 3. A pre-built index directory
        existing_index_dir {
            index_dir = null
            t2g_path = null
        } 

        // Optional parameters
        kmer_length = 31
	keep_duplicates = false
        sparse = false
        use_piscem = false
        minimizer_length = 19
    }
}

process {
    cpus = params.num_threads
    memory = 30.GB
    conda = "simpleaf_env.yaml"
    //conda = "/Users/dongzehe/Desktop/COMBINE/CODE/nextflow/simpleaf_citeseq_nextflow/work/conda/simpleaf-a63f5bb5164f6591cab9d73f82a6b69e"
}
conda {
    enabled = true
    useMamba = false
}

